.card {
  background-color: white;
  width: 250px;
  height: 370px;
  padding: 15px;
  margin: 15px;
  overflow: auto;
}

.people0 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/lukeskywalker.jpg);
  background-size: cover;
}

.people1 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/C3PO.jpg);
  background-size: cover;
}

.people2 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/R2D2.jpg);
  background-size: cover;
}

.people3 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/DarthVader.jpg);
  background-size: cover;
}

.people4 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/leia.jpg);
  background-size: cover;
}

.people5 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/owenlars.jpg);
  background-size: cover;
}

.people6 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/beru.jpg);
  background-size: cover;
}

.people7 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/R5D4.jpg);
  background-size: cover;
}

.people8 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/biggs.jpg);
  background-size: cover;
}

.people9 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Obiwan.jpg);
  background-size: cover;
}

.planets0 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/alderaan.jpg);
  background-size: cover;
}

.planets1 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Yavin.jpg);
  background-size: cover;
}

.planets2 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Hoth.jpg);
  background-size: cover;
}

.planets3 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Dagobah.jpg);
  background-size: cover;
}

.planets4 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Bespin.jpg);
  background-size: cover;
}

.planets5 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/endor.jpg);
  background-size: cover;
}

.planets6 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/naboo.jpg);
  background-size: cover;
}

.planets7 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Coruscant.jpg);
  background-size: cover;
}

.planets8 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/kamino.jpg);
  background-size: cover;
}

.planets9 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/geonosis.jpg);
  background-size: cover;
}

.vehicle0 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/sandcrawler.jpg);
  background-size: cover;
}

.vehicle1 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/skyhopper.jpg);
  background-size: cover;
}

.vehicle2 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/landspeeder.jpg);
  background-size: cover;
}

.vehicle3 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/tie-fighter.jpg);
  background-size: cover;
}

.vehicle4 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/Snowspeeder.jpg);
  background-size: cover;
}

.vehicle5 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/tie-bomber.jpg);
  background-size: cover;
}

.vehicle6 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/ATAT.jpg);
  background-size: cover;
}

.vehicle7 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/ATST.jpg);
  background-size: cover;
}

.vehicle8 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/twinpod.jpg);
  background-size: cover;
}

.vehicle9 {
  width: 100%;
  height: 140px;
  background-image: url(../../../Assets/Images/sailbarge.jpg);
  background-size: cover;
}